.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  padding: 0px 250px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding: 5px;
  }
}
.cmsDataLoader__kW2UJ:global(.__wab_instance) {
  width: 750px;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
}
.freeBox__pLbRk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 750px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
.cmsEntryField__jId07:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
  max-height: none;
}
.text__iVlw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__bY1J {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.cmsDataLoader__liQp4:global(.__wab_instance) {
  width: 750px;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
}
.freeBox__hfBeg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 750px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  padding: 8px;
}
.cmsEntryField___7Sno0:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
  font-weight: 800;
  font-size: 36px;
  width: 750px;
  align-self: center;
}
.text__aa5Ru {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__numUj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.cmsDataLoader__k1Tqk:global(.__wab_instance) {
  width: 750px;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
}
.freeBox__o3Yu5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 750px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  padding: 8px;
}
.cmsEntryField__ctwAx:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
  text-align: left;
  align-self: flex-start;
  font-size: 20px;
  width: 750px;
}
.text__dyqbb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__cxXaq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.cmsDataLoader___8OczV:global(.__wab_instance) {
  width: 750px;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
}
.freeBox__pzHns {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 750px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  padding: 8px;
}
.cmsEntryField__tNwY:global(.__wab_instance) {
  object-fit: contain;
  max-width: 100%;
  align-self: center;
  width: 750px;
  text-align: center;
  height: auto;
  max-height: 400px;
}
.cmsDataLoader___0Vz0R:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.freeBox__nrEbP {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.cmsEntryField___8VnIb:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
  font-size: 18px;
  width: 750px;
}
.cmsEntryField__cHtw:global(.__wab_instance) {
  object-fit: contain;
  max-width: 100%;
  align-self: flex-start;
  font-size: 18px;
  width: 750px;
  height: auto;
  max-height: 400px;
}
.cmsEntryField__yRaNk:global(.__wab_instance) {
  object-fit: contain;
  max-width: 100%;
  align-self: flex-start;
  font-size: 18px;
  width: 750px;
}
.cmsEntryField___4505K:global(.__wab_instance) {
  object-fit: contain;
  max-width: 100%;
  align-self: flex-start;
  font-size: 18px;
  width: 750px;
  height: auto;
  max-height: 400px;
}
.cmsEntryField__iF6KB:global(.__wab_instance) {
  object-fit: contain;
  max-width: 100%;
  align-self: flex-start;
  font-size: 18px;
  width: 750px;
  max-height: none;
}
.cmsEntryField___8Z5QZ:global(.__wab_instance) {
  object-fit: contain;
  max-width: 100%;
  align-self: flex-start;
  font-size: 18px;
  width: 750px;
  height: auto;
  max-height: 400px;
}
.cmsEntryField__agdLb:global(.__wab_instance) {
  object-fit: contain;
  max-width: 100%;
  align-self: flex-start;
  font-size: 18px;
  width: 750px;
  max-height: none;
}
.cmsEntryField__fi3Rg:global(.__wab_instance) {
  object-fit: contain;
  max-width: 100%;
  align-self: flex-start;
  font-size: 18px;
  width: 750px;
  height: auto;
  max-height: 400px;
}
.cmsEntryField__eRe1D:global(.__wab_instance) {
  object-fit: contain;
  max-width: 100%;
  align-self: flex-start;
  font-size: 18px;
  width: 750px;
  height: auto;
  max-height: none;
}
.cmsEntryField__mGS2:global(.__wab_instance) {
  object-fit: contain;
  max-width: 100%;
  align-self: flex-start;
  font-size: 18px;
  width: 750px;
  height: auto;
  max-height: 400px;
}
.cmsEntryField__gH2J5:global(.__wab_instance) {
  object-fit: contain;
  max-width: 100%;
  align-self: flex-start;
  font-size: 18px;
  width: 750px;
  height: auto;
  max-height: none;
}
.cmsEntryField__uNtze:global(.__wab_instance) {
  object-fit: contain;
  max-width: 100%;
  align-self: flex-start;
  font-size: 18px;
  width: 750px;
  height: auto;
  max-height: 400px;
}
.cmsEntryField__vP3Jh:global(.__wab_instance) {
  object-fit: contain;
  max-width: 100%;
  align-self: flex-start;
  font-size: 18px;
  width: 750px;
  height: auto;
  max-height: none;
}
.cmsEntryField___1YBcI:global(.__wab_instance) {
  object-fit: contain;
  max-width: 100%;
  align-self: flex-start;
  font-size: 18px;
  width: 750px;
  height: auto;
  max-height: 400px;
}
.text__iRXz5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__i9PX0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
